<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recommender</title>

      <link rel="stylesheet" href="../static/css/bootstrap.min.css">
      <link rel="stylesheet" href="../static/css/styles1.css">

  </head>
<body>
  <header>
    <nav id="header-nav" class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
            <a href="/" class="pull-left visible-sm visible-md visible-lg">
                <div id="logo-img"></div>
            </a>
          <div class="navbar-brand">
            <a href="/"><h1>Movie Recommender</h1></a>
          </div>
        </div>
      </div><!-- .container -->
    </nav><!-- #header-nav -->
  </header>




  <div id="main-content" class="container">
        <h2  class="text-center"> Bad Request... </h2>
        <div class="text-center">
                <p class ="text-center-section1"> Please double check your input and make sure it is valid. </p>
        </div>

  </div><!-- End of #main-content -->


  <!-- jQuery (Bootstrap JS plugins depend on it) -->

  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
