<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="js/script.js"></script>
    <title>MovieUniverse</title>

      <link rel="stylesheet" href="../static/css/bootstrap.min.css">
      <link rel="stylesheet" href="../static/css/styles1.css">

  </head>
<body>
  <header>
    <nav id="header-nav" class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
            <a href="/" class="pull-left visible-sm visible-md visible-lg">
                <div id="logo-img"></div>
            </a>
          <div class="navbar-brand">
            <a href="/"><h1>MovieUniverse</h1></a>
          </div>
            <form id="formSearchClip" action="" method="post" class="form-style">
                 <input type="text" name = "clipName" class="user-input-clip" >
                 <button type="submit" name="submit" value="searchClip" class="btn btn-success btn-sm" >Search Trailer</button>
             </form>
        </div>

        <div>


           <ul id="nav-list" class="nav navbar-nav navbar-right ">
               {% if user%}
                <li>
                    <a href="/logout"> <!-- href use the app.route "/logout", rather than manually "/"-->
                    <span class="glyphicon glyphicon-off"></span><br> Logout</a>
                </li>
               {% else %}
                <li>
                     <a href="/signup">
                    <span class="glyphicon glyphicon-edit"></span><br> Sign up</a>
                </li>
                <li>
                    <a href="/login">
                     <span class="glyphicon glyphicon-user"></span><br> Sign in</a>
                </li>
               {% endif %}
          </ul><!-- #nav-list -->
        </div><!-- .collapse .navbar-collapse -->
      </div><!-- .container -->
    </nav><!-- #header-nav -->
  </header>








  <div id="main-content" class="container" >
<div class="white-boxes" id="movieGallery">
    <div >
        {% if ratingScore %}
            {% if user %}
                <p class ="text-left"> HI USER #{{user}}, BASED ON YOUR RECENT RATING:
            {% else %}
                <p class ="text-left"> BASED ON YOUR RECENT RATING:
                </p>
            {% endif %}
        {% else %}
            {% if user %}
                <p class ="text-left"> HI USER #{{user}}, MOVIES RECOMMENDED FOR YOU BASED ON YOUR RATING HISTORY:
            {% else %}
                <p class ="text-left"> MOST CLASSICAL MOVIES EVER:
                </p>
            {% endif %}
        {% endif %}
    </div>

    <section class="row"  >
        {% for i in range(12) %}
          <div class="col-md-2 col-sm-3 col-xs-12 ">
              <form method="post">
                <input class="movie-image" type="hidden" width="200" height="250" name="clipName" value="{{itemsRecommended[i]}}"
                       src="../static/images/moviePosters/{{itemsRecommended[i]}}.jpg" >
                  <a id = "aboutlink" href="#"></a>
                    <button type="submit" name="submit" value="selectClip" class="btn glyphicon glyphicon-play-circle"
                            style=" margin-bottom: 10px;width: 175px; height:240px; background: url('../static/images/moviePosters/{{itemsRecommended[i]}}.jpg') no-repeat;
                            background-size: cover; font-size: 3em; "></button>
              </form>
              <!--<div class="movie-image" >-->
                  <!--<a href="https://www.youtube.com/results?search_query={{itemsRecommended[i]}}">-->
                <!--<img width="200" height="250" src="../static/images/moviePosters/{{itemsRecommended[i]}}.jpg" alt="image not found">-->
                  <!--</a>-->
              <!--</div>-->

          </div>
        {% endfor %}
    </section>



    <section style="margin-bottom:100px;" id="trailerPlayer" >
        <br><br>
          {% if clipURL %}
              <div id="player" class="text-center visible-md visible-lg ">
                  <iframe id="myVideo" width="950" height="550" src={{clipURL}} frameborder="0" allowfullscreen></iframe>

              </div>
              <div class="text-center visible-sm">
                  <iframe width="600" height="400" src={{clipURL}} frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="text-center visible-xs">
                  <iframe width="200" height="100" src={{clipURL}} frameborder="0" allowfullscreen></iframe>
              </div>

                <form method="post" >
                    <fieldset class="rating centered" >
                        <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Awesome!">5 stars</label>
                        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                        <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Not bad">3 stars</label>
                        <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Just so so">2 stars</label>
                        <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="It sucks">1 star</label>
                    </fieldset>
                    <p class="text-center" style="color: gold; margin-top:-30px;">
                        If you love it and submitted rating <br>
                        We can help you find the HD Full Movie with best price online :)
                    </p>
                    <div class="button-rate-it">
                         <button name="submit" type="submit" class="btn btn-success btn-lg" value="rateScore"> Submit Rating</button>

                    </div>

                </form>


          {% else %}
              <div class="text-center visible-md visible-lg ">
                  <iframe width="950" height="550" src="https://www.youtube.com/embed/iG_KZxLHozI?rel=0&amp;controls=0&amp;showinfo=0&amp;start=75&amp;autoplay=1&amp;mute=1&amp;loop=1&amp;playlist=iG_KZxLHozI;" frameborder="0" ></iframe>
              </div>
              <div class="text-center visible-sm">
                  <!--<iframe width="850" height="450" src="https://www.youtube-nocookie.com/embed/KVXwYuf8kFk?rel=0&amp;controls=0&amp;showinfo=0&amp;start=38&amp;end=237&amp;autoplay=1&amp;mute=1&amp;" frameborder="0" >-->
                  <!--</iframe>-->
                  <iframe width="700" height="450" src="https://www.youtube.com/embed/iG_KZxLHozI?rel=0&amp;controls=0&amp;showinfo=0&amp;start=75&amp;autoplay=1&amp;mute=1&amp;loop=1&amp;playlist=iG_KZxLHozI;" frameborder="0" ></iframe>
              </div>

               <div class="button-rate-it" >
                   <a href="/">
                       <button class="btn btn-success btn-lg" > Select Or Search A Trailer From Above</button>
                   </a>

               </div>
          {% endif %}

    </section>


{% if ratingScore %}
    {% if ratingScore >=4 %}
            <section  id="purchaseMovie" style="margin-bottom:200px;">
                <h2  class="text-center">Want To Watch Full Movie?</h2>
                <div class="text-center">
                    <p class="text-center-purchaseMovie">Let Us Find The Best Price Available Online For You</p>
                    <div>
                        <form id="formRateMenu" action="" method="post">
                             <p><input type="hidden" name = "itemToBuy" class="user-input" value="{{itemToRate}}"> </p>
                            <span class="button" >
                                    <button type="submit" name="submit" value="findPrice" class="btn btn-success btn-lg" > FIND PRICES</button>
                            </span>
                            <div class="row">

                                <div class="col-lg-4 co-md-4">
                                      <img width="200" height="200" src="../static/images/LogoAmazon.jpg" alt="image not found">
                                </div>


                                <div class="col-lg-4 co-md-4" >
                                    <br>
                                     <img width="200" height="120" src="../static/images/LogoYouTube.jpg" alt="image not found">
                                </div>


                                <div class="col-lg-4 co-md-4" >
                                    <br>
                                      <img width="120" height="120" src="../static/images/LogoITunes.jpg" alt="image not found">
                                </div>
                            </div>


                        </form>
                         {% if priceList and priceURLList%}
                            <div class="row" style="margin-bottom:50px;">
                                <div class="col-lg-4 co-md-4">
                                    <a href="{{priceURLList[0]}}" target="_blank">
                                           <button type="submit" name="submit" class="btn btn-danger btn-lg" > WATCH FROM ${{priceList[0]}}</button>
                                    </a>
                                </div>
                                <div class="col-lg-4 co-md-4">
                                    <a href="{{priceURLList[1]}}" target="_blank">
                                           <button type="submit" name="submit" class="btn btn-danger btn-lg" > WATCH FROM ${{priceList[1]}}</button>
                                    </a>
                                </div>
                            </div>

                        {% endif %}

                    </div>

                </div>

            </section>

    {% endif %}
 {% endif %}


</div> <!-- End of .white-box -->

  </div><!-- End of #main-content -->


  <footer class="panel-footer">
    <div class="container">
      <div class="text-center text-small">Developed by: Mu Zhu (zhumu17@gmail.com) <br> Dataset provided by: grouplens.org  <br> Copyright reserved &copy; 2018</div>
    </div>
  </footer>

  <!-- jQuery (Bootstrap JS plugins depend on it) -->

  <!--<script src="js/jquery-2.1.4.min.js"></script>-->
  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>
