<!doctype html>
<html lang="en">
  <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115813592-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115813592-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="js/script.js"></script>
      <title>MovieUniverse</title>

      <link rel="stylesheet" href="../static/css/bootstrap.min.css">
      <link rel="stylesheet" href="../static/css/styles1.css">

  </head>
<body>
  <header>
    <nav id="header-nav" class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
            <a href="/" class="pull-left visible-sm visible-md visible-lg">
                <div id="logo-img"></div>
            </a>
          <div class="navbar-brand">
            <a href="/"><h1>MovieUniverse</h1></a>
          </div>
            <form id="formSearchClip" action="" method="post" class="form-style">
                 <input type="text" name = "clipName" class="user-input-clip"
                        onclick="if(this.value == 'Search a movie (year)...') { this.value = ''; }"
                        value="Search a movie (year)..." style="color:grey; height:34px;">
                 <button type="submit" name="submit" value="searchClip" class="btn btn-success btn-md glyphicon glyphicon-search"
                         style="margin-top:-8px;" ></button>
             </form>
        </div>

        <div>

           <ul id="nav-list" class="nav navbar-nav navbar-right ">
               {% if userId%}
                <li>
                    <a href="/logout"> <!-- href use the app.route "/logout", rather than manually "/"-->
                    <span class="glyphicon glyphicon-off"></span><br> Logout</a>
                </li>
               {% else %}
                <li>
                     <a href="/signup">
                    <span class="glyphicon glyphicon-edit"></span><br> Sign up</a>
                </li>
                <li>
                    <a href="/login">
                     <span class="glyphicon glyphicon-user"></span><br> Sign in</a>
                </li>
               {% endif %}
          </ul><!-- #nav-list -->
        </div><!-- .collapse .navbar-collapse -->
      </div><!-- .container -->
    </nav><!-- #header-nav -->
  </header>








<div id="main-content" class="container" >
<div class="white-boxes" id="movieGallery">
    {% if userId%}
    <span class = "text-left" style="margin-bottom:-5 px;"> HI, USER #{{userId}} --</span>
    {% endif %}
    {% if itemsRecommended['itemBased'] %}

    <section class="row"  id="itemBasedGallery">
        <p class ="text-left" style="margin-left:15px;"> BASED ON YOUR RECENT RATING: <span class = "text-small" onclick="myFunction()"><a href="#itemBasedGallery"> (Refresh to See More...)</a></span>

            {% for i in range(12) %}
          <div class="col-md-2 col-sm-3 col-xs-6 ">
              <form method="post">
                <input class="movie-image" type="hidden" width="200" height="250" name="clipName" value="{{itemsRecommended['itemBased'][i]}}">
                    <button type="submit" name="submit" value="selectClip" class="btn glyphicon glyphicon-play-circle movie-image"
                            style=" margin-bottom: 10px;width: 165px; height:240px; background: url('{{itemsImageURL['itemBased'][i]}}') no-repeat;
                            background-size: cover; font-size: 3em; "></button>
              </form>
              <span class ="text-left text-small text-movie-title-small " style ="margin-top: -5px;"> {{itemsRecommended['itemBased'][i]}}</span>
          </div>
        {% endfor %}
    </section>
    {% endif %}

    {% if userId %}
    {% if itemsRecommended['userBased'] %}
    <section class="row"  id="userBasedGallery">
        <p class ="text-left" style="margin-left:15px;"> BASED ON YOUR TASTES:
            <span class = "text-small" onclick="myFunction()"><a href="#userBasedGallery"> (Refresh to See More...)</a></span>
        {% for i in range(12) %}
          <div class="col-md-2 col-sm-3 col-xs-6 ">
              <form method="post">
                <input class="movie-image" type="hidden" width="200" height="250" name="clipName" value="{{itemsRecommended['userBased'][i]}}">
                    <button type="submit" name="submit" value="selectClip" class="btn glyphicon glyphicon-play-circle movie-image"
                            style=" margin-bottom: 10px;width: 165px; height:240px; background: url('{{itemsImageURL['userBased'][i]}}') no-repeat;
                            background-size: cover; font-size: 3em; "></button>
              </form>
              <span class ="text-left text-small text-movie-title-small " style ="margin-top: -5px;"> {{itemsRecommended['userBased'][i]}}</span>
          </div>
        {% endfor %}
    </section>
    {% endif %}
    {% endif %}




     {% if itemsRecommended['recentPopular'] %}
     <section class="row"  id="recentPopularGallery">
         <p class ="text-left" style="margin-left:15px;"> MOST POPULAR OVER THE PAST DECADE:
             <span class = "text-small" onclick="myFunction()"><a href="#recentPopularGallery"> (Refresh to See More...)</a></span>
        {% for i in range(12) %}
          <div class="col-md-2 col-sm-3 col-xs-6 ">
              <form method="post">
                <input class="movie-image" type="hidden" width="200" height="250" name="clipName" value="{{itemsRecommended['recentPopular'][i]}}">
                    <button type="submit" name="submit" value="selectClip" class="btn glyphicon glyphicon-play-circle movie-image"
                            style=" margin-bottom: 10px; width: 165px; height:240px; background: url('{{itemsImageURL['recentPopular'][i]}}') no-repeat;
                            background-size: cover; font-size: 3em; "></button>
              </form>
             <span class ="text-left text-small text-movie-title-small " style ="margin-top: -5px;"> {{itemsRecommended['recentPopular'][i]}}</span>
          </div>
        {% endfor %}
    </section>
    {% endif %}

    {% if itemsRecommended['classical'] %}
     <section class="row"  id="classicalGallery">
         <p class ="text-left" style="margin-left:15px;"> MOST CLASSICAL EVER: <span class = "text-small" onclick="myFunction()"><a href="#classicalGallery"> (Refresh to See More...)</a></span>
        {% for i in range(12) %}
          <div class="col-md-2 col-sm-3 col-xs-6 ">
              <form method="post">
                <input class="movie-image" type="hidden" width="200" height="250" name="clipName" value="{{itemsRecommended['classical'][i]}}">
                    <button type="submit" name="submit" value="selectClip" class="btn glyphicon glyphicon-play-circle movie-image"
                            style=" margin-bottom: 10px;width: 165px; height:240px; background: url('{{itemsImageURL['classical'][i]}}') no-repeat;
                            background-size: cover; font-size: 3em; "></button>
              </form>
              <span class ="text-left text-small text-movie-title-small" style ="margin-top: -5px;"> {{itemsRecommended['classical'][i]}}</span>
          </div>
        {% endfor %}
    </section>
    {% endif %}



    <section style="margin-top:100px; margin-bottom:100px;" id="trailerPlayer" >
        <br>
          {% if clipURL %}
              <div id="player" class="text-center visible-md visible-lg ">
                  <iframe id="myVideo" width="950" height="550" src={{clipURL}} frameborder="0" allowfullscreen></iframe>

              </div>
              <div class="text-center visible-sm">
                  <iframe width="600" height="400" src={{clipURL}} frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="text-center visible-xs">
                  <iframe width=100% height="200" src={{clipURL}} frameborder="0" allowfullscreen></iframe>
              </div>

                {% if ratingScore %}
                    {% if ratingScore >=4 %}
                        <div class="button-rate-it" style="margin-top:20px;">
                            <div id="here">

                                <form method="post" class="form-style">
                                    <button name="submit" type="submit" value="watchFullMovie" class="btn btn-success btn-lg"
                                            style="margin:20px; background-color: #008000;">
                                        Watch This Full Movie Now </button>
                                </form>
                                <a href="#">
                                    <button class="btn btn-warning btn-lg" style="margin:20px; background-color: #B8860B;">
                                        Maybe Later...  </button>
                                </a>
                            </div>
                        </div>

                    {% endif %}

                {% else %}
                    <form id="form1" method="post" style="margin-top:80px;">
                        <fieldset class="rating centered" >
                            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Love it!">5 stars</label>
                            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Like it">4 stars</label>
                            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="So so">3 stars</label>
                            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Dislike it">2 stars</label>
                            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Hate it!">1 star</label>
                        </fieldset>



                        <div class="button-rate-it" style="margin-top:-30px;">
                             <button name="submit" type="submit" class="btn btn-success btn-lg"
                                     value="rateScore" style="background-color: #008000;"> Submit Rating</button>
                        </div>

                    </form>

                {% endif %}


          {% else %}
              <div class="text-center visible-md visible-lg ">
                  <iframe width="950" height="550" src="https://www.youtube.com/embed/iG_KZxLHozI?rel=0&amp;controls=0&amp;showinfo=0&amp;start=75&amp;autoplay=1&amp;mute=1&amp;loop=1&amp;playlist=iG_KZxLHozI;" frameborder="0" ></iframe>
              </div>
              <div class="text-center visible-sm">
                  <!--<iframe width="850" height="450" src="https://www.youtube-nocookie.com/embed/KVXwYuf8kFk?rel=0&amp;controls=0&amp;showinfo=0&amp;start=38&amp;end=237&amp;autoplay=1&amp;mute=1&amp;" frameborder="0" >-->
                  <!--</iframe>-->
                  <iframe width="700" height="450" src="https://www.youtube.com/embed/iG_KZxLHozI?rel=0&amp;controls=0&amp;showinfo=0&amp;start=75&amp;autoplay=1&amp;mute=1&amp;loop=1&amp;playlist=iG_KZxLHozI;" frameborder="0" ></iframe>
              </div>
              <div class="text-center visible-xs">
                  <!--<iframe width="850" height="450" src="https://www.youtube-nocookie.com/embed/KVXwYuf8kFk?rel=0&amp;controls=0&amp;showinfo=0&amp;start=38&amp;end=237&amp;autoplay=1&amp;mute=1&amp;" frameborder="0" >-->
                  <!--</iframe>-->
                  <iframe width=100% height="200" src="https://www.youtube.com/embed/iG_KZxLHozI?rel=0&amp;controls=0&amp;showinfo=0&amp;start=75&amp;autoplay=1&amp;mute=1&amp;loop=1&amp;playlist=iG_KZxLHozI;" frameborder="0" ></iframe>
              </div>
               <div class="button-rate-it" >
                   <a href="#">
                       <button class="btn btn-danger btn-lg" style="background-color:#A52A2A;" > Select a Movie To Play Trailer</button>
                   </a>
               </div>
          {% endif %}

    </section>


{% if ratingScore %}
    {% if ratingScore >=4 %}
        {% if watchFullMovie %}
            <section  id="purchaseMovie" style="margin-top: -80px; margin-bottom:95px;">
                <h2  class="text-center">Let Us Find It For You </h2>
                <h2  class="text-center" style="font-size:20px;">FOR THE BEST PRICE FROM MAJOR PROVIDERS</h2>
                <div class="text-center" >
                    <!--<p class="text-center-purchaseMovie">Let Us Find The Best Price Available Online For You</p>-->
                        <form  action="" method="post">
                             <p><input type="hidden" name = "itemToBuy" class="user-input" value="{{itemToRate}}"> </p>
                            <span class="button" >
                                    <button type="submit" name="submit" value="findPrice" class="btn btn-success btn-lg"
                                            style="font-weight: 200; margin-top:30px; background-color: #008000;"> GO FOR IT!</button>
                            </span>
                            <div class="text-center text-small" style="margin-top:10px;">Searching may take up to 5 seconds...</div>

                        </form>
                         {% if priceList and priceURLList%}
                            <div class="row" style="margin-bottom:100px;">
                                <div class="col-lg-4 co-md-4 co-sm-4 co-xs-12">
                                     <img width="140" height="120" src="../static/images/LogoAmazon.jpg" alt="image not found">
                                    <br>
                                    <a href="{{priceURLList[0]}}" target="_blank">
                                        <button type="submit" name="submit" class="btn btn-danger btn-lg" style="margin-bottom:25px; background-color: 	#A52A2A;"> {{priceList[0]}}</button>
                                    </a>
                                </div>
                                <div class="col-lg-4 co-md-4 co-sm-4 co-xs-12">
                                    <img width="180" height="120" src="../static/images/LogoYouTube.jpg" alt="image not found">
                                    <br>
                                    <a href="{{priceURLList[1]}}" target="_blank">
                                        <button type="submit" name="submit" class="btn btn-danger btn-lg" style="margin-bottom:25px; background-color: 	#A52A2A;"> {{priceList[1]}}</button>
                                    </a>
                                </div>
                                <div class="col-lg-4 co-md-4 co-sm-4 co-xs-12">
                                     <img width="120" height="120" src="../static/images/LogoITunes.jpg" alt="image not found">
                                    <br>
                                    <a href="{{priceURLList[2]}}" target="_blank">
                                        <button type="submit" name="submit" class="btn btn-danger btn-lg" style="margin-bottom:25px; background-color: 	#A52A2A;"> {{priceList[2]}}</button>
                                    </a>
                                </div>
                            </div>
                        {% else %}
                            <div class="row">

                                <div class="col-lg-4 co-md-4 co-sm-4 co-xs-12">
                                      <img width="190" height="170" src="../static/images/LogoAmazon.jpg" alt="image not found">
                                </div>
                                <div class="col-lg-4 co-md-4 co-sm-4 co-xs-12" >
                                    <br>
                                     <img width="200" height="120" src="../static/images/LogoYouTube.jpg" alt="image not found">
                                </div>
                                <div class="col-lg-4 co-md-4 co-sm-4 co-xs-12" >
                                    <br>
                                      <img width="120" height="120" src="../static/images/LogoITunes.jpg" alt="image not found">
                                </div>
                            </div>
                        {% endif %}
                </div>

                <div class="text-center" style="margin-top:200px;">
                 {% if priceList and priceURLList%}

                    <div style="margin-top:50px;">
                    <p class ="text-center" style="color:gold"> Interested In Seeing More Personalized Recommendations?
                    </div>
                    <a href="/signup">
                        <button class="btn btn-success btn-lg" style="margin:20px; background-color: #008000;">
                                        SIGN UP FOR FREE</button>
                    </a>
                    <div>
                        <a href="#"> <p> Not For Now...</p></a>
                    </div>

                    {% endif %}
                </div>
            </section>

        {% endif %}
    {% endif %}
 {% endif %}


</div> <!-- End of .white-box -->

</div><!-- End of #main-content -->


  <footer class="panel-footer">
    <div class="container">
      <div class="text-center text-small" style="margin-bottom:0px;">Developed by: Mu Zhu | zhumu17@gmail.com |
          <a href="https://www.linkedin.com/in/muzhu" target="_blank"> LinkedIn </a> |
<!--
            <a href="https://github.com/zhumu17/Movie_Recommender_System">  Github </a> |</div>
-->
      <div class="text-center text-small" style="margin-bottom:0px;"> Copyrights Reserved 2018 </div>
    </div>
  </footer>

  <!-- jQuery (Bootstrap JS plugins depend on it) -->
  <script>
    function myFunction() {
        location.reload();
    }
  </script>
  <script src="js/jquery-2.1.4.min.js"></script>
  <script src="js/jquery-1.4.2.js"></script>
  <!--<script src="js/jquery-1.11.3.min.js"></script>-->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/script.js"></script>

</body>
</html>
