<!DOCTYPE html>
<html lang="en">
<head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115813592-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115813592-1');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles1.css">
</head>

<body id="login-page">
<header>
    <nav id="header-nav" class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
            <a href="/" class="pull-left visible-md visible-lg">
                <div id="logo-img"></div>
            </a>
          <div class="navbar-brand">
            <a href="/"><h1>MovieUniverse</h1></a>
          </div>
        </div>
        <div>
           <ul id="nav-list" class="nav navbar-nav navbar-right">
            <li>
              <a href="/">
                <span class="glyphicon glyphicon-home"></span><br> Home </a>
            </li>
          </ul><!-- #nav-list -->
        </div><!-- .collapse .navbar-collapse -->
      </div><!-- .container -->
    </nav><!-- #header-nav -->
  </header>

  <div id="main-content" class="container">
    <section class = "section2 white-boxes" style="margin-left:5%;margin-right:5%; padding-bottom:50px;">
        <h2  class="text-center" style="font-size:35px;">Please Enter Your User ID</h2>
        <div class="text-center">
            <p class="text-center-section2">A valid user ID is an integer between 1 to {{numUsers}}</p>
            <p class="text-center text-small"> For Demo purpose, no username or password required</p>
            <div>
                <form method="post">
                    <p><input type="number" min="1" max="{{numUsers}}" name = "LoginUsername" class="user-input-login"></p>
                    <div class="button">
                     <button type="submit" class="btn btn-success btn-lg" value="login" style="background-color: #008000;"> Sign In </button>
                     <!--<button type="submit" class="glyphicon glyphicon-remove" > Cancel </button>-->
                    </div>
                </form>
            </div>
        </div>
    </section>

  </div>
</body>
</html>