<!DOCTYPE html>
<html lang="en">
<head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115813592-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115813592-1');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles1.css">
</head>

<body id="signup-page">
<header>
    <nav id="header-nav" class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
            <a href="/" class="pull-left visible-md visible-lg">
                <div id="logo-img"></div>
            </a>
          <div class="navbar-brand">
            <a href="/"><h1>MovieUniverse</h1></a>
          </div>
        </div>
        <div>
           <ul id="nav-list" class="nav navbar-nav navbar-right">
            <li>
              <a href="/">
                <span class="glyphicon glyphicon-home"></span><br> Home </a>
            </li>
          </ul><!-- #nav-list -->
        </div><!-- .collapse .navbar-collapse -->
      </div><!-- .container -->
    </nav><!-- #header-nav -->
  </header>

  <div id="main-content" class="container">

    <section class ="section2">
        <h2  class="text-center" style="font-size:24px;"> PLEASE REMEMBER YOUR ASSIGNED USER ID:<br> </h2>
        <h2  class="text-center" style="font-size:45px;"> {{numUsers+1}} </h2>
        <div class="white-boxes" style="margin-left:3%; margin-right:3%;">
            <p class="text-center text-small">For Demo purpose, no username or password required</p>
        <p class="text-center text-center-signup" style="font-weight:100;">Select Your Favorite Genres From Below: </p>

          <div class="row">
        <div >
                <form method="post">
                  <fieldset>
                  <!--<legend>Choose your preferences below:</legend>-->
                    <div class="text-center col-lg-3 col-md-4 col-sm-6 col-xs-6">
                      <input type="checkbox" id="Action" name="Action" value="1">
                      <label for="Action" style="font-weight:100; font-size:20px;">Action</label>
                    </div>
                    <div class="text-center col-lg-3 col-md-4 col-sm-6 col-xs-6">
                      <input type="checkbox" id="Adventure" name="Adventure" value="1">
                      <label for="Adventure" style="font-weight:100; font-size:20px;">Adventure</label>
                    </div>
                    <div class="text-center col-lg-3 col-md-4 col-sm-6 col-xs-6">
                      <input type="checkbox" id="Animation" name="Animation" value="1">
                      <label for="Animation" style="font-weight:100; font-size:20px;">Animation</label>
                    </div>
                    <div class="text-center col-lg-3 col-md-4 col-sm-6 col-xs-6">
                      <input type="checkbox" id="Children" name="Children" value="1">
                      <label for="Children" style="font-weight:100; font-size:20px;">Children</label>
                    </div>
                    <div class="text-center col-lg-3 col-md-4 col-sm-6 col-xs-6">
                      <input type="checkbox" id="Comedy" name="Comedy" value="1">
                      <label for="Comedy" style="font-weight:100; font-size:20px;">Comedy</label>
                    </div>
                    <div class="text-center col-lg-3 col-md-4 col-sm-6 col-xs-6">
                      <input type="checkbox" id="Crime" name="Crime" value="1">
                      <label for="Crime" style="font-weight:100; font-size:20px;">Crime</label>
                    </div>
                    <div class="text-center col-lg-3 col-md-4 col-sm-6 col-xs-6">
                      <input type="checkbox" id="Documentary" name="Documentary" value="1">
                      <label for="Documentary" style="font-weight:100; font-size:20px;">Documentary</label>
                    </div>
                    <div class="text-center col-lg-3 col-md-4 col-sm-6 col-xs-6">
                      <input type="checkbox" id="Drama" name="Drama" value="1">
                      <label for="Drama" style="font-weight:100; font-size:20px;">Drama</label>
                    </div>
                    <div class="text-center col-lg-3 col-md-4 col-sm-6 col-xs-6">
                      <input type="checkbox" id="Fantasy" name="Fantasy" value="1">
                      <label for="Fantasy" style="font-weight:100; font-size:20px;">Fantasy</label>
                    </div>
                    <div class="text-center col-lg-3 col-md-4 col-sm-6 col-xs-6">
                      <input type="checkbox" id="FilmNoir" name="FilmNoir" value="1">
                      <label for="FilmNoir" style="font-weight:100; font-size:20px;">FilmNoir</label>
                    </div>
                    <div class="text-center col-lg-3 col-md-4 col-sm-6 col-xs-6">
                      <input type="checkbox" id="Horror" name="Horror" value="1">
                      <label for="Horror" style="font-weight:100; font-size:20px;">Horror</label>
                    </div>
                    <div class="text-center col-lg-3 col-md-4 col-sm-6 col-xs-6">
                      <input type="checkbox" id="IMAX" name="IMAX" value="1">
                      <label for="IMAX" style="font-weight:100; font-size:20px;">IMAX</label>
                    </div>
                    <div class="text-center col-lg-3 col-md-4 col-sm-6 col-xs-6">
                      <input type="checkbox" id="Musical" name="Musical" value="1">
                      <label for="Musical" style="font-weight:100; font-size:20px;">Musical</label>
                    </div>
                    <div class="text-center col-lg-3 col-md-4 col-sm-6 col-xs-6">
                      <input type="checkbox" id="Mystery" name="Mystery" value="1">
                      <label for="Mystery" style="font-weight:100; font-size:20px;">Mystery</label>
                    </div>
                    <div class="text-center col-lg-3 col-md-4 col-sm-6 col-xs-6">
                      <input type="checkbox" id="Romance" name="Romance" value="1">
                      <label for="Romance" style="font-weight:100; font-size:20px;">Romance</label>
                    </div>
                    <div class="text-center col-lg-3 col-md-4 col-sm-6 col-xs-6">
                      <input type="checkbox" id="SciFi" name="SciFi" value="1">
                      <label for="SciFi" style="font-weight:100; font-size:20px;">SciFi</label>
                    </div>
                    <div class="text-center col-lg-3 col-md-4 col-sm-6 col-xs-6">
                      <input type="checkbox" id="Thriller" name="Thriller" value="1">
                      <label for="Thriller" style="font-weight:100; font-size:20px;">Thriller</label>
                    </div>
                    <div class="text-center col-lg-3 col-md-4 col-sm-6 col-xs-6">
                      <input type="checkbox" id="War" name="War" value="1">
                      <label for="War" style="font-weight:100; font-size:20px;">War</label>
                    </div>
                    <div class="text-center col-lg-3 col-md-4 col-sm-6 col-xs-6">
                      <input type="checkbox" id="Western" name="Western" value="1">
                      <label for="Western" style="font-weight:100; font-size:20px;">Western</label>
                    </div>

                    <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <button name="submit" type="submit" class="btn btn-lg btn-success" style="margin-top:20px;">Sign Me Up</button>
                    </div>
                  </fieldset>
                </form>
            </div>
        </div>
        </div>
    </section>

  </div>

    <div class="container">
      <div class="text-center"></div>
    </div>


</body>
</html>